<li class="list-group-item">
    <div class="sticky-method d-flex align-items-baseline mb-0 sticky-top bg-body z-1 pt-2 pb-2" data-bs-toggle="collapse" data-bs-target=".%method%-%md5%" aria-expanded="false" aria-controls="%method%-%md5%">
        <div class="me-auto">
            <h4 class="h5 mb-0">%description%</h4>
        </div>
        <div>
            <span class="badge http-method method-%method% fs-6">%method%</span>
        </div>
    </div>
    %request.html%
    %responses.html%
</li>
